<div class="col-md-12">
    <mat-form-field class="col-md-3" style="margin: 30px;">
        <input value="{{solicitacao.cidade}}" disabled matInput placeholder="Cidade">
    </mat-form-field>

    <mat-form-field class="col-md-3" style="margin: 30px;">
        <input value="{{solicitacao.bairro}}" disabled matInput placeholder="bairro">
    </mat-form-field>

    <mat-form-field class="col-md-3" style="margin: 30px;">
        <input value="{{solicitacao.rua}}" disabled matInput placeholder="Rua">
    </mat-form-field>

    <mat-form-field class="col-md-3" style="margin: 30px;">
        <textarea value="{{solicitacao.complemento}}" disabled matInput placeholder="Complemento"></textarea>
    </mat-form-field>

    <mat-form-field class="col-md-4" style="margin: 30px;">
        <textarea value="{{getCategoria(solicitacao.categoria)}}" disabled matInput placeholder="Categoria"></textarea>
    </mat-form-field>

    <mat-form-field class="col-md-4" style="margin: 30px;">
        <textarea value="{{solicitacao.descricao}}" disabled matInput placeholder="Descrição"></textarea>
    </mat-form-field>

    <mat-form-field class="col-md-4" style="margin: 30px;">
        <input value="{{solicitacao.status}}" disabled matInput placeholder="Status">
    </mat-form-field>

    <mat-form-field class="col-md-4" style="margin: 30px;">
        <textarea value="{{solicitacao.resposta}}" disabled matInput placeholder="Resposta"></textarea>
    </mat-form-field>

    <mat-form-field class="col-md-4" style="margin: 30px;">
        <input value="{{solicitacao.retornoUsuario}}" disabled matInput placeholder="Retorno do Usuário">
    </mat-form-field>
</div>

<div class="col-md-12" style="text-align: center;">
    <button mat-button (click)="fechar()">Voltar</button>
</div>