<div>
    <div class="titulo">Adicionar roteiro</div>
    <div>
        <form [formGroup]="formRoteiro">
            <div class="col-md-12">
                <mat-form-field class="col-md-4" style="margin: 30px;">
                    <input name="nome" formControlName="nome" type="text" maxlength="100" matInput placeholder="Nome">
                </mat-form-field>
                <mat-form-field class="col-md-4" style="margin: 30px;">
                    <input name="campus" formControlName="campus" type="text" maxlength="100" matInput placeholder="Campus">
                </mat-form-field>
                <mat-form-field class="col-md-4" style="margin: 30px;">
                    <input name="roteiro" formControlName="roteiro" type="text" maxlength="100" matInput placeholder="Roteiro">
                </mat-form-field>
                <mat-form-field class="col-md-4" style="margin: 30px;">
                    <input name="turno" formControlName="turno" type="text" maxlength="100" matInput placeholder="Turno">
                </mat-form-field>
                <mat-form-field class="col-md-4" style="margin: 30px;">
                    <input name="trajeto" formControlName="trajeto" type="text" maxlength="100" matInput placeholder="Trajeto">
                </mat-form-field>
                <mat-form-field class="col-md-4" style="margin: 30px;">
                    <input name="horario" formControlName="horario" type="text" maxlength="100" matInput placeholder="Horário">
                </mat-form-field>
                <mat-form-field class="col-md-4" style="margin: 30px;">
                    <input name="horaSaidaManha" formControlName="horaSaidaManha" type="text" maxlength="100" matInput placeholder="Hora saída manhã">
                </mat-form-field>
                <mat-form-field class="col-md-4" style="margin: 30px;">
                    <input name="horaVoltaManha" formControlName="horaVoltaManha" type="text" maxlength="100" matInput placeholder="Hora volta manhã">
                </mat-form-field>
                <mat-form-field class="col-md-4" style="margin: 30px;">
                    <input name="horaSaidaTarde" formControlName="horaSaidaTarde" type="text" maxlength="100" matInput placeholder="Hora saída tarde">
                </mat-form-field>
                <mat-form-field class="col-md-4" style="margin: 30px;">
                    <input name="horaVoltaTarde" formControlName="horaVoltaTarde" type="text" maxlength="100" matInput placeholder="Hora volta tarde">
                </mat-form-field>
            </div>
            <div style="text-align: center; margin-bottom: 10px;">
                <button class="btn-nao" (click)="cancelar()" mat-raised-button>Cancelar</button>
                <button class="bot-login" (click)="save()" style="margin-left: 10px;" mat-raised-button>Salvar</button>
            </div>
        </form>
    </div>
</div>