<div class="table">
    <div class="container">
        <mat-card style="margin-bottom: 10px;">
            <mat-card-content>
                <table mat-table [dataSource]="dataSource" style="width: 100%;">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let academico">
                            {{ academico.id }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef>Nome</th>
                        <td mat-cell *matCellDef="let academico">
                            {{ academico.nome }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>E-mail</th>
                        <td mat-cell *matCellDef="let academico"> {{ academico.email }} </td>
                    </ng-container>

                    <ng-container matColumnDef="roteiro">
                        <th mat-header-cell *matHeaderCellDef>Roteiro</th>
                        <td mat-cell *matCellDef="let academico">
                            {{ academico.roteiro }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="curso">
                        <th mat-header-cell *matHeaderCellDef>Curso</th>
                        <td mat-cell *matCellDef="let academico">
                            {{ academico.curso }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="turno">
                        <th mat-header-cell *matHeaderCellDef>Turno</th>
                        <td mat-cell *matCellDef="let academico">
                            {{ academico.turno }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [length]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>