.table {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.mat-header-cell {
    color: #387a98;
    font-weight: 500;
}

tr.mat-header-row {
    height: 30px;
    vertical-align: text-bottom;
}

.mat-header-cell,
.mat-cell {
    text-align: center;
    min-width: 8.25em;
}

.btn-acoes {
    margin: 3px;
    background: #f0f0f0;
    color: #007390;
}

.coluna-acoes {
    width: 200px;
    padding: 10px;
}