<div class="container-fluid cardLogin">
    <div class="container">
        <mat-card style="margin-bottom: 10px;">
            <mat-card-content>
                <form style="display: grid;" [formGroup]='loginForm'>
                    <mat-form-field appearance="outline">
                        <mat-label>Usuário</mat-label>
                        <input matInput placeholder="Usuário" type="text" formControlName="usuario" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input matInput placeholder="Senha" type="password" formControlName="senha" required>
                    </mat-form-field>
                    <button class="bot-login" (click)="autentica()" color="primary" mat-button>Login</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>