.ngb-sidebar {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    .ngb-sidenav {
        mat-list {
            mat-list-item {
                padding: 5px 30px;
                &.active,
                &:hover {
                    cursor: pointer;
                    color: #fff;
                    background: #333;
                }
            }
        }
    }
}

.menu-toggle {
    margin-left: 10px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    &__spacer {
        flex: 1;
    }
}