.row {
    width: 100%;
    text-align: center;
}

.col-md-12 {
    width: 500px;
}

.bot-cadastrar {
    background: #007390;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container {
    margin: 20px;
    max-width: 530px;
    width: 800px;
    margin: 0 auto;
}

.example-full-width {
    width: 100%;
}

.table {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.th-titulo {
    font-weight: bold;
    font-size: 15px;
    color: black;
    width: 50%;
}

.th-celulas {
    font-size: 15px;
    color: black;
    width: 50%;
}

.btn-editar {
    margin: 3px;
    background: #007390;
    color: white;
}

.btn-deletar {
    margin: 3px;
    background: red;
    color: white;
}