.row {
    display: flex;
    justify-content: space-between;
}

.titulo {
    margin-bottom: 30px;
    font-size: 20pt;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-top: 4%;
}

.div-carousel {
    display: flex;
    justify-content: center;
    margin-top: -62px;
}

.article {
    width: 100%;
}

.grafico {
    height: 500px;
    width: 800px;
    margin: 0 auto;
}

.grafico_img {
    justify-self: center;
    width: 80%;
    height: 100%;
}