.sidenav-container {
    height: 100%;
    margin: 0px;
    min-width: 100%;
    width: 100%;
}

.header {
    background-color: #104E8B;
    width: 100%;
    height: 10%;
    text-align: right;
}

.item-menu {
    color: white;
    font-size: 20px;
}